html, body {
  width: 100%;
  height: 100%;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-weight: 400 !important;
}

@font-face {
  font-family: 'ProximaNova-Reg';
  font-family: 'ProximaNova-Xbold';
  src: local('ProximaNova-Reg"'), url("../fonts/ProximaNova-Reg.otf") format("opentype");
  src: local('ProximaNova-Reg"'), url("../fonts/ProximaNova-Xbold.otf") format("opentype");
}

* {
  font-family: 'ProximaNova-Reg', sans-serif;
}

/*
	CSS Reset from Eric Myer:
	https://meyerweb.com/eric/tools/css/reset/

	The whole point of a CSS is so that we can work with styles from 
	scratch. Each browser has its own default styling so having this,
	we can achieve close styling as possible with cross-browsers.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: black;
}

main .tag-it-section h2 span, main .instructions-section h2 span, main .official-rules-section h2 span {
  font-weight: 500;
  background: black;
  padding: 0 10px;
  text-transform: uppercase;
  color: white;
}

main {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

main .header .header-text {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

main .header .header-text h1 {
  font-size: 3rem;
  text-transform: none;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-top: -0.5rem;
}

main .header .header-text h2 {
  font-size: 1.8rem;
}

main .header .header-text img {
  max-width: 37.5rem;
  margin-top: 0.5rem;
}

main .tag-it-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main .tag-it-section ul {
  margin-top: 3.2rem;
}

main .tag-it-section ul li {
  display: inline;
  padding: 0px 10px;
}

main .tag-it-section ul li a {
  background-color: yellow;
  color: black;
  font-size: 1.8rem;
  padding: 9px;
  text-transform: uppercase;
}

main .tag-it-section p {
  margin-top: 2.8rem;
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

main .tag-it-section p .logo-container {
  margin-left: 0.4rem;
}

main .tag-it-section p .logo-container .logo-image-placement img:nth-child(1) {
  max-width: 40px;
  position: relative;
  top: 5.2px;
}

main .tag-it-section p .logo-container .logo-image-placement img:nth-child(2) {
  max-width: 90px;
  margin-left: 0rem;
  position: relative;
  top: 3px;
}

main .instructions-section .instructions-grid-container {
  margin-top: 1.3rem;
}

main .instructions-section .instructions-grid-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /* Create two equal columns that sits next to each other */
}

main .instructions-section .instructions-grid-container .row .column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding-left: 1.9rem;
  margin: 1.5rem;
  max-width: 40%;
}

main .instructions-section .instructions-grid-container .row .column h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

main .instructions-section .instructions-grid-container .row .column p {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  font-size: 1.3rem;
}

main .instructions-section .instructions-grid-container .row .column ul {
  margin-top: -1rem;
  padding-bottom: 1.3rem;
}

main .instructions-section .instructions-grid-container .row .column ul li {
  display: inline-block;
}

main .instructions-section .instructions-grid-container .row .column ul li a {
  max-width: 1200px;
  font-size: 1.3rem;
  margin-right: 20px;
  color: white;
  max-width: 1200px;
}

main .official-rules-section {
  padding-bottom: 3rem;
  margin: auto auto 0 auto;
  /* SUPER IMPORTANT TO KEEP FOOTER AT BUTTOM */
}

main .official-rules-section p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main .official-rules-section ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
  padding-left: 3rem;
}

main .official-rules-section ul li {
  text-align: left;
  font-size: 0.65rem;
  margin-top: 1.3rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

main .official-rules-section ol {
  list-style-position: outside;
  padding-left: 3rem;
}

main .official-rules-section ol li {
  text-align: left;
  font-size: 0.65rem;
  margin-top: 1.3rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 0.3rem;
}

main .official-rules-section .rules {
  margin-top: 2.8rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

main .official-rules-section .bold {
  font-family: 'ProximaNova-Xbold', sans-serif;
}

main .official-rules-section .underline {
  text-decoration: underline;
}

main .official-rules-section .nested-letter-list {
  padding-left: 3rem;
}

main .official-rules-section .nested-letter-list .nested-letters-styles {
  text-align: left;
  font-size: 0.65rem;
  margin-top: 1.3rem;
  width: 46%;
}

main .official-rules-section .nested-bullet-list {
  padding-left: 3rem;
  list-style-position: outside;
}

main .official-rules-section .nested-bullet-list .bullet {
  position: relative;
  left: -3rem;
}

main .official-rules-section .nested-bullet-list .nested-bullet-styles {
  text-align: left;
  font-size: 0.65rem;
  margin-top: 1.3rem;
  width: 46%;
  list-style-position: outside;
}

main .official-rules-section .disclosure {
  margin-top: 1.3rem;
  text-align: left;
  font-size: 0.65rem;
  width: 50%;
}

main .official-rules-section .ending {
  margin-top: 1.3rem;
  text-align: left;
  font-size: 0.45rem;
  width: 50%;
  font-style: italic;
}

.test {
  margin-top: 1.3rem;
  text-align: left;
  font-size: 0.65rem;
  width: 50%;
}

main .tag-it-section h2 {
  text-align: center;
  border-bottom: 3px solid #fff;
  line-height: 0.1em;
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  margin-top: 4.7rem;
}

main .instructions-section h2 {
  text-align: center;
  border-bottom: 3px solid #fff;
  line-height: 0.1em;
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  margin-top: 4.5rem;
}

main .official-rules-section h2 {
  text-align: center;
  border-bottom: 3px solid #fff;
  line-height: 0.1em;
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  margin-top: 2rem;
}

@media (max-width: 575.98px) {
  main .header .header-text h1 {
    font-size: 2.9rem;
  }
  main .header .header-text h2 {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
  }
  main .tag-it-section ul {
    margin-top: 2.4rem;
  }
  main .tag-it-section ul li {
    display: inline-block;
    padding: 1.5rem;
  }
  main .tag-it-section p {
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 95% !important;
  }
  main .tag-it-section p .logo-container {
    margin-left: 0.5rem;
  }
  main .tag-it-section p .logo-container .logo-image-placement img:nth-child(1) {
    max-width: 35px;
    position: relative;
    top: 5px;
  }
  main .tag-it-section p .logo-container .logo-image-placement img:nth-child(2) {
    max-width: 70px;
    margin-left: 0.4rem;
    position: relative;
    top: 2.4px;
  }
  .instructions-section .instructions-grid-container {
    margin-top: 3.7rem !important;
  }
  .instructions-section .instructions-grid-container .row {
    text-align: center;
    display: initial !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    /* Create two equal columns that sits next to each other */
  }
  .instructions-section .instructions-grid-container .row .column {
    padding: 0px !important;
    margin: 0rem !important;
    max-width: 100% !important;
  }
  .instructions-section .instructions-grid-container .row .column p {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .instructions-section .instructions-grid-container .row .column ul {
    margin-top: -0.5rem !important;
    padding-bottom: 1.7rem !important;
  }
  .official-rules-section {
    padding-bottom: 3rem;
  }
  .official-rules-section p {
    width: 95% !important;
    text-align: center !important;
  }
  .official-rules-section ul {
    padding-right: 3rem !important;
  }
  .official-rules-section ul li {
    width: 100% !important;
    text-align: center !important;
  }
  .official-rules-section ol {
    padding-right: 3rem !important;
  }
  .official-rules-section ol li {
    width: 100% !important;
    text-align: center !important;
  }
  .official-rules-section .nested-letter-list {
    padding-right: 3rem !important;
  }
  .official-rules-section .nested-letter-list .nested-letters-styles {
    text-align: left;
    font-size: 0.65rem;
    margin-top: 1.3rem;
    width: 100% !important;
  }
  .official-rules-section .rules {
    margin-top: 2.8rem;
    padding-bottom: 0.5rem;
    width: 95%;
    text-align: center !important;
  }
  .official-rules-section .disclosure {
    margin-top: 1.3rem;
    text-align: center;
    font-size: 0.65rem;
    width: 90%;
  }
}

@media (max-width: 575.98px) {
  main .header .header-text h1 {
    font-size: 2.9rem;
  }
  main .header .header-text h2 {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
  }
  main .header .header-text img {
    max-width: 100% !important;
    width: 100% !important;
  }
  main .tag-it-section ul {
    margin-top: 2.4rem;
  }
  main .tag-it-section ul li {
    display: inline-block;
    padding: 1.5rem;
  }
  main .tag-it-section p {
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 95% !important;
  }
  .instructions-section .instructions-grid-container {
    margin-top: 3.7rem !important;
  }
  .instructions-section .instructions-grid-container .row {
    text-align: center;
    display: initial !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    /* Create two equal columns that sits next to each other */
  }
  .instructions-section .instructions-grid-container .row .column {
    padding: 0px !important;
    margin: 0rem !important;
    max-width: 100% !important;
  }
  .instructions-section .instructions-grid-container .row .column p {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .official-rules-section {
    padding-bottom: 3rem;
  }
  .official-rules-section p {
    width: 70%;
    text-align: center;
  }
  .official-rules-section .rules {
    margin-top: 2.8rem;
    padding-bottom: 0.5rem;
    width: 95%;
  }
  .official-rules-section .disclosure {
    margin-top: 1.3rem;
    text-align: center;
    font-size: 0.65rem;
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */